{% extends 'app/main.html' %} {%load static%} {% block content %} {%include 'app/navbar.html' %}

<!-- Navbar End -->
<div class="mr-5 ml-5">
  <!-- Form Start -->
  <section id="input-form">
    <div class="row justify-content-center align-middle">
      <a type="button" class="btn btn-primary btn-block" href="{% url 'create'%}">TAMBAHKAN LAPORAN</a>
    </div>
  </section>
  <!-- Form End -->
</div>

<!-- Table Data Start-->

<div class="mr-5 ml-5 mt-5 sticky-bottom">
  <table class="table table-fluid" id="data-table">
    <thead class="thead-light">
      <tr>
        <th scope="col" class="th-sm">Status</th>
        <th scope="col" class="th-sm">SPK</th>
        <th scope="col" class="th-sm">Zona</th>
        <th scope="col" class="th-sm">Nama</th>
        <th scope="col" class="th-sm">Alamat</th>
        <th scope="col" class="th-sm">Tanggal</th>
        <th scope="col" class="th-sm">Gangguan</th>
        <th scope="col" class="th-sm">Pipa</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="customtable">
      {% for i in laporan%}
      <tr>
        <td>{{i.status}}</td>
        <td>{{i.spk}}</td>
        <td>{{i.zona}}</td>
        <td>{{i.nama}}</td>
        <td>{{i.alamat}}</td>
        <td>{{i.tanggal}}</td>
        <td>{{i.gangguan}}</td>
        <td>{{i.jenis}}</td>

        <td><a class="btn btn-info btn-sm" href="{% url 'update' i.spk%}"> ⚙ </a></td>
        <td><a class="btn btn-danger btn-sm" href="{% url 'delete' i.spk%}"> ✖ </a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<br /><br />
{% endblock %}

<!-- Table Data End -->
