{% extends 'accounts/main.html' %} {%load static%} {% block content %} {%include 'accounts/navbar.html' %}
<div class="container">
  <div class="col">
    <div class="col-md">
      <div class="card shadow text-center mt-3">
        <div class="card-header bg-transparent">
          <h5 class="card-title text-primary">TOTAL LAPORAN</h5>
        </div>
        <div class="card-body mb-3 mt-3">
          <h2 class="card-title text-primary">{{total_laporan}}</h2>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <div class="col-lg">
          <div class="card shadow text-center">
            <div class="card-header bg-transparent">
              <h5 class="card-title text-success">SELESAI</h5>
            </div>
            <div class="card-body mb-3 mt-3">
              <h2 class="card-title text-success">{{selesai}}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-md">
          <div class="card shadow text-center">
            <div class="card-header bg-transparent">
              <h5 class="card-title text-warning">PENDING</h5>
            </div>
            <div class="card-body mb-3 mt-3">
              <h2 class="card-title text-warning">{{pending}}</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="col-md">
          <div class="card shadow text-center">
            <div class="card-header bg-transparent">
              <h5 class="card-title text-info">PENANGANAN</h5>
            </div>
            <div class="card-body mb-3 mt-3">
              <h2 class="card-title text-info">{{penanganan}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="card-group shadow">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title text-secondary">BARAT</h5>
            <hr />
            <div class="card-body mr-5 ml-5">
              <h2 class="card-title text-secondary">{{barat}}</h2>
            </div>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title text-secondary">UTARA</h5>
            <hr />
            <div class="card-body mr-5 ml-5">
              <h2 class="card-title text-secondary">{{utara}}</h2>
            </div>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title text-secondary">TIMUR</h5>
            <hr />
            <div class="card-body mr-5 ml-5">
              <h2 class="card-title text-secondary">{{timur}}</h2>
            </div>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title text-secondary">SELATAN</h5>
            <hr />
            <div class="card-body mr-5 ml-5">
              <h2 class="card-title text-secondary">{{selatan}}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
