{% extends 'app/main.html' %} {%load static%} {% block content %} {%include 'app/navbar.html' %}

<div class="mr-5 ml-5">
  <div class="row">
    <div class="col">
      <div class="col-md">
        <div class="card shadow text-center mt-5" id="total-order">
          <div class="card-header">
            <h4 class="card-title text-info">Total Laporan</h4>
          </div>
          <div class="card-body mb-4 mt-4">
            <h2 class="card-title text-black-50">30</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card shadow text-center mt-5" id="orders-delivered">
          <div class="card-header">
            <h4 class="card-title text-success">Selesai</h4>
          </div>
          <div class="card-body mb-4 mt-4">
            <h2 class="card-title text-black-50">30</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-md">
        <div class="card shadow text-center mt-5" id="orders-pending">
          <div class="card-header">
            <h4 class="card-title text-danger">Pending</h4>
          </div>
          <div class="card-body mb-4 mt-4">
            <h2 class="card-title text-black-50">30</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mb-5 mr-5 ml-5 fixed-bottom" id="zona">
  <div class="row justify-content-center">
    <div class="card-group">
      <div class="card shadow text-center ml-3 mr-3">
        <div class="card-body">
          <h4 class="card-title text-primary">Barat</h4>
          <hr />
          <div class="card-body mb-2 mt-3 mr-5 ml-5">
            <h2 class="card-title text-black-50">10</h2>
          </div>
        </div>
      </div>
      <div class="card shadow text-center ml-3 mr-3">
        <div class="card-body">
          <h4 class="card-title text-primary">Utara</h4>
          <hr />
          <div class="card-body mb-2 mt-3 mr-5 ml-5">
            <h2 class="card-title text-black-50">10</h2>
          </div>
        </div>
      </div>
      <div class="card shadow text-center ml-3 mr-3">
        <div class="card-body">
          <h4 class="card-title text-primary">Timur</h4>
          <hr />
          <div class="card-body mb-2 mt-3 mr-5 ml-5">
            <h2 class="card-title text-black-50">10</h2>
          </div>
        </div>
      </div>
      <div class="card shadow text-center mr-3 ml-3">
        <div class="card-body">
          <h4 class="card-title text-primary">Selatan</h4>
          <hr />
          <div class="card-body mb-2 mt-3 mr-5 ml-5">
            <h2 class="card-title text-black-50">10</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
